.cont {
	width: 1170px;
	margin: 0px auto;
	border: 2px solid #ebebeb;
}

.sing{
	color: #0099ae;
    border: 1px solid #0099ae;
	padding: 10px 25px;
	width: 62px;
	border-radius: 4px;
	cursor: pointer;
	text-transform: uppercase;
}

.sing:hover{
	color:  #01707f;
	border: 1px solid  #01707f;
}

.text-1{
	width: 41%;
	float:left;
	padding: 82px 0px;
}

.img-r{
	
}

.box{
	width: 330px;
	float: left;
	/* padding: 45px 0px; */
	text-align:center;
	padding: 0px 30px;
}

.box img
{height: 75px;}

.slider{
	background-image:url(../img/slider-bg.png);
	background-repeat: repeat-x;
	background-position: 0px 93%;
}

.slider1{
	background-color: green;
}
